<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length > 0; else cartEmpty">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 20%;">Product Image</th>
                        <th style="width: 50%;">Product Detail</th>
                        <th style="width: 30%;"></th>
                    </tr>
                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{tempCartItem.imageUrl}}" class="img-fluid" width="150px">
                        </td>
                        <td>
                            <p>{{tempCartItem.name}}</p>
                            <p>{{tempCartItem.unitPrice | currency:'USD'}}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label>Quantity:</label>

                                <div class="row no-gutters">
                                    <div class="col">
                                        <button (click)="incrementQuantity(tempCartItem)" class="btn btn-outline-primary btn-sm">
                                            <fa-icon [icon]="faPlus"></fa-icon>
                                        </button>
                                    </div>

                                    <div class="col ml-3 mr-2">
                                        {{tempCartItem.quantity}}
                                    </div>

                                    <div class="col">
                                        <button (click)="decrementQuantity(tempCartItem)" class="btn btn-outline-primary btn-sm">
                                            <fa-icon [icon]="faMinus"></fa-icon>
                                        </button>
                                    </div>

                                    <div class="col-8"></div>

                                </div>
                            </div>

                            <button (click)="remove(tempCartItem)" class="btn btn-sm btn-primary mt-2">
                                Remove
                            </button>

                            <p class="mt-2">
                                Subtotal: {{tempCartItem.quantity * tempCartItem.unitPrice |currency:'USD'}}
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold">
                            <p>Total Quantity: {{cartService.totalQuantity$ | async}}</p>
                            <p>Shipping: FREE</p>
                            <p>Total Price: {{cartService.totalPrice$ | async | currency: 'USD'}}</p>

                            <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
                        </td>
                    </tr>
                </table>
            </div>

            <ng-template #cartEmpty>
                <div class="alert alert-warning col-12" role="alert">
                    Your shopping cart is empty
                </div>
            </ng-template>

        </div>
    </div>
</div>
