<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li *ngFor="let tempProductCategory of productCategories">
                <a routerLink="/category/{{tempProductCategory.id}}" routerLinkActive="active-link">
                    {{tempProductCategory.categoryName}}
                </a>
            </li>
            <li *ngIf="authenticationService.isLoggedIn()">
                <a routerLink="user/management" routerLinkActive="active-link">Manage User</a>
            </li>
            <a routerLink="youtube" routerLinkActive="active-link">YouTube Player</a>
        </ul>
    </nav>
</div>
