<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Sales Volume</th>
            <th>Met Quota?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempSalePerson of salesPersonList">
            <td>{{tempSalePerson.firstName}}</td>
            <td>{{tempSalePerson.lastName}}</td>
            <td>{{tempSalePerson.email}}</td>
            <td>{{tempSalePerson.salesVolume}}</td>
            <td>
                <div *ngIf="tempSalePerson.salesVolume >= 20000; else myElseBlock">Yes</div>
                <ng-template #myElseBlock>No</ng-template>
<!--                <div *ngIf="!(tempSalePerson.salesVolume >= 20000)">No</div>-->

            </td>
        </tr>
    </tbody>

</table>
