<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">


            <!-- main content -->
            <div class="tab-content mt-3" id="myTabContent">
                <div class="container">
                    <div class="row flex-lg-nowrap">
                        <div class="col">
                            <div class="row">
                                <div class="col mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="e-profile">
                                                <div class="row">
                                                    <div class="col-12 col-sm-auto">
                                                        <div class="mx-auto" style="width: 120px;">
                                                            <div class="d-flex justify-content-center align-items-center rounded">
                                                                <img class="rounded" height="135" width="135" src="{{user?.profileImageUrl}}" alt="">
                                                            </div>



                                                        </div>
                                                    </div>
                                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user?.firstName}} {{user?.lastName}}</h4>
                                                            <p class="mb-0">{{user?.username}}</p>
                                                            <div *ngIf="user?.lastLoginDateDisplay !== null" class="text-muted"><small>Last login:
                                                                {{user?.lastLoginDateDisplay | date:'medium'}}</small></div>
                                                            <div class="mt-2">
                                                                <button (click)="updateProfileImage()" class="btn btn-primary" type="button">
                                                                    <i class="fa fa-fw fa-camera"></i>
                                                                    <span>Change Photo</span>


                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="text-center text-sm-right">
                                                            <div class="text-muted"><small>Joined {{user?.joinDate | date:'mediumDate'}}</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-content pt-3">
                                                    <div class="tab-pane active">
                                                        <form #profileUserForm="ngForm" (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)" class="form"
                                                              novalidate>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>First Name</label>
                                                                                <input type="text" name="firstName" required [(ngModel)]="user.firstName"
                                                                                       class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Last Name</label>
                                                                                <input type="text" name="lastName" required [(ngModel)]="user.lastName"
                                                                                       class="form-control">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Username</label>
                                                                                <input type="text" name="username" required [(ngModel)]="user.username"
                                                                                       class="form-control">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Email</label>
                                                                                <input type="text" name="email" required [(ngModel)]="user.email"
                                                                                       class="form-control">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col mb-3">
                                                                            <div class="form-group">
                                                                                <label>Role</label><small>(read only)</small>
                                                                                <select multiple name="role" required [(ngModel)]="user.rolesInput" class="form-control">
                                                                                    <option value="ROLE_USER_READ">USER_READ</option>
                                                                                    <option value="ROLE_USER_EDIT">USER_EDIT</option>
                                                                                    <option value="ROLE_USER_CREATE">USER_CREATE</option>
                                                                                    <option value="ROLE_USER_DELETE">USER_DELETE</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                                    <div class="mb-2"><b>Account Settings</b></div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="custom-controls-stacked px-2">
                                                                                <div class="custom-control custom-checkbox">
                                                                                    <input name="active" type="checkbox" [(ngModel)]="user.active" class="custom-control-input">
                                                                                    <label class="custom-control-label">Active</label>
                                                                                </div>
                                                                                <div class="custom-control custom-checkbox">
                                                                                    <input name="notLocked" type="checkbox"
                                                                                           [(ngModel)]="user.notLocked" class="custom-control-input">
                                                                                    <label class="custom-control-label">Unlocked</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col d-flex justify-content-end">
                                                                    <button class="btn btn-primary" type="submit">
                                                                        <fa-icon *ngIf="refreshing" [icon]="faSpinner" [spin]="true"></fa-icon>
                                                                        &nbsp;&nbsp;
                                                                        <span *ngIf="refreshing">Loading...</span>
                                                                        <span *ngIf="!refreshing">Save Changes</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h6 class="card-title font-weight-bold">Permissions From Role</h6>
                                            <h6 *ngFor="let authority of user?.authoritiesToDisplay" class="card-text">{{authority}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
